@font-face {
  font-family: 'FrankBellamyiCiel';
  src: url('./fonts/FrankBellamyiCiel.woff2') format('woff2'),
       url('./fonts/FrankBellamyiCiel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
